<div class='site-container'>

<!-- Top -->
<div class='topWrapperFlex'>
<div class='topWrapper'>
<div class='topLogoWrapper'>
<img ng-src='./images/cityLightsLogo.png'>
</div>
<div class='topRightWrapper'>
<div class='rightContent'>
<img ng-src='./images/phonePS.png' class='phoneNumber'>

<form ng-submit='controlData(searchQuery)'>
<input ng-model='searchQuery' type='text' class='searchBar' placeholder="Search...">

<img ng-click='controlData(searchQuery)' ng-src='./images/magGlass.png' class='magGlass'>

</form>



</div>
</div>
</div>
</div>

<!-- NavBar -->

<div class='navWrapper'>

<div class='categories'>
  <div>Brands</div>
  <div>Categories</div>
  <div>Forms</div>
  <div>Shipping</div>
  <div>FAQ</div>
</div>

<!-- Banner -->

<img ng-src='./images/keystoneJohn.jpg' class='banner'>

<!-- Info boxes -->

<div class='infoWrapper'>

  <div class='infoBox'>
    <img src='./images/salesTeam1.jpg' class='salesTeam' onmouseover="this.src='./images/salesTeam2.jpg'" onmouseout="this.src='./images/salesTeam1.jpg'">
    <div class='infoTitle'>Sales Team</div>
    <div class='infoBorder'></div>
    <div class='infoSumm'>The sales team at City Lights is always ready to help you with any questions you have. You can call us for any sale inquiry. Looking for a hard-to-find specialty item? Please contact us and we will be happy to order the item for you!</div>
    <div class='learnMore'>Learn More</div>
  </div>

  <div class='infoBox'>
    <img ng-src='./images/light1.jpg' class='salesTeam' onmouseover="this.src='./images/light2.jpg'" onmouseout="this.src='./images/light1.jpg'">
    <div class='infoTitle'>Fixtures, Bulbs & More</div>
    <div class='infoBorder'></div>
    <div class='infoSumm'>You can choose from a wide selection of light bulbs, led bulbs, fixtures, and from all the top brands available. See for yourself why we're one of the best sellers.</div>
    <div class='learnMore'>Learn More</div>
  </div>


  <div class='infoBox'>
    <img ng-src='./images/flag1.jpg' class='salesTeam' onmouseover="this.src='./images/flag2.jpg'" onmouseout="this.src='./images/flag1.jpg'">
    <div class='infoTitle'>About Us</div>
    <div class='infoBorder'></div>
    <div class='infoSumm'>City Lights was launched in 1982 by Peter Bruno, starting with only two employees. If you are looking for a special lighting fixture, bulb or parts, no worries! We are the original supplier of hard to find Items.</div>
    <div class='learnMore'>Learn More</div>
  </div>

</div>

<div class='footerWrapper'>

<div class='newsletter'>
<div class='signUp'>Sign up for our newsletter</div>

<div class='inputWrapper'>
<input type='text' placeholder='example@youremail.com' class='newsletterInput'>
<span class='subscribe'>Subscribe</span>
</div>

</div>

</div>
</div>

</div>
