<div class='site-container'>

<!-- Top -->
<div class='topWrapperFlex'>
<div class='topWrapper'>
<div class='topLogoWrapper'>
<img ng-src='./images/cityLightsLogo.png'>
</div>
<div class='topRightWrapper'>
<div class='rightContent'>
<img ng-src='./images/changeThis.png' class='phoneNumber'>
<input type='text' class='searchBar' placeholder="SEARCH OUR WEBSITE...">
<img ng-src='./images/magGlass.png' class='magGlass'>
</div>
</div>
</div>
</div>

<!-- NavBar -->

<div class='navWrapper'>

<div class='categories'>
  <div>Brands</div>
  <div>Categories</div>
  <div>Forms</div>
  <div>Shipping</div>
  <div>FAQ</div>
</div>

</div>
</div>
