/*red: #E31B24
blue: #24286B*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

.site-container{
  /*max-width:100%;*/
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topWrapperFlex{
  width:1140px;
}

.topWrapper{
max-width: 1140px;
height: 128px;
}

.topLogoWrapper{
  width:50%;
  height:100%;
  display: flex;
  align-items: center;
  float:left;
}

.topRightWrapper{
  width:50%;
  height:100%;
  float:right;
}

.searchBar{
position: relative;
right:-21px;
background: #fff;
background-size: 36px 16px;
color: #888;
font-size: 12px;
margin-bottom: 20px;
padding: 12px;
width: 275px;
border: 1px solid #ddd;
box-shadow: 1px 1px 3px #eee inset;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.magGlass{
  width:18px;
  position: relative;
  top:5px;
  left:-12px;
  cursor:pointer;
}

.rightContent{
  height:100%;
  width:100%;
  padding-top:15px;
  display: flex;
  align-items:flex-end;
  justify-content: space-around;
  flex-direction: column;
}

.phoneNumber{
  margin-bottom:4px;
}

.navWrapper{
  width:1140px;
  height:53px;
  background-color: #dcdcdc;
}

.categories{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#E31B24;
}

.categories div{
  margin-right:5%;
  margin-left:5%;
}

.banner{
  width:1140px;
}

.infoWrapper{
  width:1140px;
  height:526px;
  margin-top:20px;
  display: flex;
  flex-direction: row;
}

.infoBox{
  width:33.333333333%;
  height:85.6%;
  background-color: #dcdcdc;
  margin:0 14px 36px 14px;
  padding:3%;
}

.infoTitle{
  font-size: 16px;
  font-family: 'Ubuntu', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top:20px;
  text-align: center;
  color:#E31B24;
  text-transform: uppercase;
  font-weight: 500;
}

.infoBorder{
  border-bottom:1px dashed #999;
  margin-top:20px;
}

.infoSumm{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:13.5px;
  color:#222;
  margin-top:30px;
  line-height: 1.6;
  height:105px;
}

.learnMore{
background-color: #E31B24;
border: none;
border-radius: 5px;
box-shadow: none;
color: #fff !important;
cursor: pointer;
padding: 10px 20px;
width: 160px;
font-size: 14px;
font-weight: bold;
text-align: center;
display: block;
margin-left: auto !important;
margin-right: auto !important;
text-transform: uppercase;
font-weight: 500;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

margin-top:30px;
}

.salesTeam{
  /*border:.5px solid #999;*/
}

.footerWrapper{
  height:80px;
  margin: 0 14px;
}

.newsletter{
  width:100%;
  height:100%;
  background-color: #E31B24;
  margin-top:20px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  font-weight:500;
  margin-bottom:20px;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.inputWrapper{
  padding-left:14px;
  width:100%;
}

.newsletterInput{
  display: inline-block;
padding: 0 8px;
width: 32%;
background: #fff;
vertical-align: top;
margin-right: 1%;
border: solid 2px transparent;
height:36px;
}

.signUp{
  margin-bottom:5px;
  padding-left:14px;
}

.subscribe{
  border: 1px white solid;
  padding: 11px;
  position: absolute;
}
